body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
}

.club-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


